Flask==3.0.2
Werkzeug==3.0.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
pandas==2.2.1
openpyxl==3.1.2
python-dateutil==2.8.2
apscheduler==3.10.4
SQLAlchemy==2.0.27
XlsxWriter==3.1.9
flask-login==0.6.3
python-dotenv==1.0.1
gunicorn==21.2.0
python-json-logger==2.0.7
email-validator==2.1.0.post1
blinker==1.7.0